@import "tailwindcss";

@import url('https://googleapis.com');

.fancy-heading {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
}

.modern-nav {
  font-family: 'Outfit', sans-serif;
}